<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Música</title>
    <link rel="stylesheet" href="static/estilo.css">
</head>
<body>
    <form action="/criar_musica" method="POST">
        <p>Nome da Música</p>

        <input type='text' name='nome_da_musica' placeholder="Nome da Música">
        <p>Artista</p>

        <input type='text' name='artista' placeholder="Seu nome">
        <p>Status</p>

        <input type='text' name='status' placeholder="Status da Música">
        <p>Capa</p>

        <input type='text' name='caminho_capa' placeholder="Url da capa ">
        <p>Letra</p>

        <input type='text' name='letra' placeholder="Letra da Música">
        <br>
        
        <br>
        <div class="botoes">
            <!-- <a href="">Criar conta</a> -->
            <!-- Mudar o a para um button -->
            <button type="submit">Criar Música</button>
        </div>
        <!-- FECHAR O FORMS AO FIM -->
    </form>
</body>
</html>